@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant+Infant:ital,wght@1,300;1,500&family=EB+Garamond:wght@400;500&family=Eczar:wght@400;500&family=Fredericka+the+Great&family=Labrada&family=Satisfy&display=swap');
/* font-family: 'Acme', sans-serif; */
/* font-family: 'Cormorant Infant', serif; */
/* font-family: 'EB Garamond', serif; */
/* font-family: 'Eczar', serif; */
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Labrada', serif; */
/* font-family: 'Satisfy', cursive; */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
font-family: 'EB Garamond', serif;
/* overflow-y: hidden; */
}
body{
    overflow-x: hidden;
}
img{
    mix-blend-mode: multiply;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
